<div class="flex w-full flex-col gap-1">
  <div class="markdown prose w-full break-words">
    <p><strong>Subject: You've requested to change your password</strong></p>
    <hr />
    <p>Hi {{name}},</p>
    <p>We received a request for password change.</p>
    <p>If this was not you who initiated the request, please disregard.</p>

    <h3>Change Password</h3>
    <p>Begin the change password process by clicking the button below:</p>
    <a href="{{verificationLink}}" style="display:inline-block;padding:10px 20px;font-size:16px;color:#fff;background-color:#007bff;text-decoration:none;border-radius:5px;">Change Password</a>

    <p>Best regards,</p>
    <p>The PredictiveAF Team</p>
    <hr />
    <p><strong>Follow us on social media:</strong></p>
    <ul>
      <li><a rel="noreferrer" href="{{PAF_FB_PAGE}}">Facebook</a></li>
      <li><a rel="noreferrer" href="#">Twitter</a></li>
      <li><a rel="noreferrer" href="#">LinkedIn</a></li>
    </ul>
    <p><strong>Contact Us:</strong> PredictiveAF Inc. <a rel="noreferrer">support@predictiveaf.com</a></p>
    <hr />
  </div>
</div>