<div class="flex flex-col w-full gap-4 p-6 bg-white rounded-lg">
  <div class="markdown prose w-full break-words">
    <p class="text-2xl font-bold">Subject: Thank You for Verifying Your Email {{name}}</p>
    <hr class="my-4" />
    <p class="text-lg">Hi {{name}},</p>
    <p>Thank you for accepting the role in {{facility}}. You have successfully registered your account with PredictiveAF!</p>
    <p>We’re delighted to officially welcome you to our community.</p>

    <h3>What’s Next?</h3>
    <ol>
      <li><strong>Explore Our Features</strong></li>
      <li><strong>Personalize Your Experience</strong></li>
      <li><strong>Join the Community</strong></li>
    </ol>

    <h3>Get Started</h3>
    <ul>
      <li><strong>Quick Start Guide:</strong> [Link to guide]</li>
      <li><strong>Video Tutorials:</strong> [Link to tutorials]</li>
      <li><strong>Support Center:</strong> [Link to support]</li>
    </ul>

    <p>If you need assistance, contact <a href="mailto:support@predictiveaf.com">support@predictiveaf.com</a>.</p>
    <p>Best regards,</p>
    <p>The PredictiveAF Team</p>
    <hr class="my-4" />
    <p><strong>Follow us on social media:</strong></p>
    <ul class="flex space-x-4">
      <li><a href="{{PAF_FB_PAGE}}">Facebook</a></li>
      <li><a href="#">LinkedIn</a></li>
    </ul>
  </div>
</div>
